# Global owner
* @SibandaPanashe

# Backend
/backend/ @SibandaPanashe

# AI
/ai-service/ @SibandaPanashe

# Citizen Portal
/citizen-portal/ @Gashy

# Organization Portal
/organization-portal/ @Chawaz

# Infrastructure
/infrastructure/ @Mena

# Documentation
/docs/ @SibandaPanashe