# Global owner
* @SibandaPanashe

# Backend
/backend/ @SakhengomusaNdlovu

# AI
/ai-service/ @SibandaPanashe

# Citizen Portal
/citizen-portal/ @GashiraiMlambo

# Organization Portal
/organization-portal/ @TadiwanasheChawatama

# Infrastructure
/infrastructure/ @MenaAlice

# Documentation
/docs/ @SibandaPanashe